In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('police_project.csv')

In [3]:
df

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,NaN,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,NaN,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,NaN,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,NaN,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,NaN,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [4]:
df.head()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   county_name         0 non-null      float64
 3   driver_gender       86406 non-null  object
 4   driver_age_raw      86414 non-null  float64
 5   driver_age          86120 non-null  float64
 6   driver_race         86408 non-null  object
 7   violation_raw       86408 non-null  object
 8   violation           86408 non-null  object
 9   search_conducted    91741 non-null  bool
 10  search_type         3196 non-null   object
 11  stop_outcome        86408 non-null  object
 12  is_arrested         86408 non-null  object
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 9.3+ MB

axis = 0 : to delete rpw
axis =1 : to delete column

In [6]:
#drop country column
df.drop(['county_name'],axis=1,inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   driver_gender       86406 non-null  object
 3   driver_age_raw      86414 non-null  float64
 4   driver_age          86120 non-null  float64
 5   driver_race         86408 non-null  object
 6   violation_raw       86408 non-null  object
 7   violation           86408 non-null  object
 8   search_conducted    91741 non-null  bool
 9   search_type         3196 non-null   object
 10  stop_outcome        86408 non-null  object
 11  is_arrested         86408 non-null  object
 12  stop_duration       86408 non-null  object
 13  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(2), object(10)
memory usage: 8.6+ MB

In [8]:
df1 = df.copy()

In [9]:
df1

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [10]:
df1.drop(['stop_date'],axis=1,inplace=True)

In [11]:
df1.head()

,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_time           91741 non-null  object
 1   driver_gender       86406 non-null  object
 2   driver_age_raw      86414 non-null  float64
 3   driver_age          86120 non-null  float64
 4   driver_race         86408 non-null  object
 5   violation_raw       86408 non-null  object
 6   violation           86408 non-null  object
 7   search_conducted    91741 non-null  bool
 8   search_type         3196 non-null   object
 9   stop_outcome        86408 non-null  object
 10  is_arrested         86408 non-null  object
 11  stop_duration       86408 non-null  object
 12  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(2), object(9)
memory usage: 7.9+ MB

In [13]:
df1.drop(df1.iloc[[],[0,2,3,4,5,7,8,9,10,11,12]],axis=1,inplace=True)

In [14]:
df1

      driver_gender         violation
0                 M          Speeding
1                 M          Speeding
2                 M          Speeding
3                 M             Other
4                 F          Speeding
...             ...               ...
91736             M          Speeding
91737             F         Equipment
91738             M  Moving violation
91739             M          Speeding
91740             M          Speeding

[91741 rows x 2 columns]

df1.drive_gender.value_counts()

df1.drive_gender.value_counts()

In [17]:
df1.driver_gender.value_counts()

driver_gender
M    62895
F    23511
Name: count, dtype: int64

In [18]:
df1.driver_gender.value_counts(normalize=True)

driver_gender
M    0.727901
F    0.272099
Name: proportion, dtype: float64

In [19]:
df1.violation.value_counts()

violation
Speeding               48463
Moving violation       16224
Equipment              11020
Other                   4317
Registration/plates     3432
Seat belt               2952
Name: count, dtype: int64

In [20]:
df1.violation.value_counts(normalize=True)

violation
Speeding               0.560862
Moving violation       0.187760
Equipment              0.127534
Other                  0.049961
Registration/plates    0.039719
Seat belt              0.034164
Name: proportion, dtype: float64

In [21]:
df1[df1.violation == 'Speeding'].value_counts()

driver_gender  violation
M              Speeding     32979
F              Speeding     15482
Name: count, dtype: int64

In [65]:
df1[df1.violation == 'Speeding'].driver_gender.value_counts()

driver_gender
M    32979
F    15482
Name: count, dtype: int64

In [23]:
df1[df1.violation == 'Speeding' ].driver_gender.value_counts(normalize=True)

driver_gender
M    0.680527
F    0.319473
Name: proportion, dtype: float64

In [24]:
df1[df1.driver_gender =='M']

      driver_gender         violation
0                 M          Speeding
1                 M          Speeding
2                 M          Speeding
3                 M             Other
5                 M         Equipment
...             ...               ...
91735             M          Speeding
91736             M          Speeding
91738             M  Moving violation
91739             M          Speeding
91740             M          Speeding

[62895 rows x 2 columns]

In [25]:
df1[df1.driver_gender =='M'].violation.value_counts()

violation
Speeding               32979
Moving violation       13020
Equipment               8533
Other                   3627
Registration/plates     2419
Seat belt               2317
Name: count, dtype: int64

In [26]:
df1[df1.driver_gender =='F'].violation.value_counts()

violation
Speeding               15482
Moving violation        3204
Equipment               2487
Registration/plates     1013
Other                    690
Seat belt                635
Name: count, dtype: int64

In [27]:
df2 = df.copy()

In [28]:
df2

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [29]:
df2.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [30]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   driver_gender       86406 non-null  object
 3   driver_age_raw      86414 non-null  float64
 4   driver_age          86120 non-null  float64
 5   driver_race         86408 non-null  object
 6   violation_raw       86408 non-null  object
 7   violation           86408 non-null  object
 8   search_conducted    91741 non-null  bool
 9   search_type         3196 non-null   object
 10  stop_outcome        86408 non-null  object
 11  is_arrested         86408 non-null  object
 12  stop_duration       86408 non-null  object
 13  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(2), object(10)
memory usage: 8.6+ MB

In [32]:
df2.drop(df2.iloc[[],[0,1,3,4,5,6,7,9,10,11,12,13]],axis=1,inplace=True)

In [33]:
df2

      driver_gender  search_conducted
0                 M             False
1                 M             False
2                 M             False
3                 M             False
4                 F             False
...             ...               ...
91736             M             False
91737             F             False
91738             M             False
91739             M             False
91740             M             False

[91741 rows x 2 columns]

In [35]:
df2.driver_gender.value_counts()

driver_gender
M    62895
F    23511
Name: count, dtype: int64

In [37]:
df2.search_conducted.value_counts()

search_conducted
False    88545
True      3196
Name: count, dtype: int64

In [39]:
df2[df2.search_conducted==False].driver_gender.value_counts()

driver_gender
M    60170
F    23040
Name: count, dtype: int64

In [40]:
df2[df2.search_conducted==True].driver_gender.value_counts()

driver_gender
M    2725
F     471
Name: count, dtype: int64

In [41]:
df3= df.copy()

In [42]:
df3.head()

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [43]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   driver_gender       86406 non-null  object
 3   driver_age_raw      86414 non-null  float64
 4   driver_age          86120 non-null  float64
 5   driver_race         86408 non-null  object
 6   violation_raw       86408 non-null  object
 7   violation           86408 non-null  object
 8   search_conducted    91741 non-null  bool
 9   search_type         3196 non-null   object
 10  stop_outcome        86408 non-null  object
 11  is_arrested         86408 non-null  object
 12  stop_duration       86408 non-null  object
 13  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(2), object(10)
memory usage: 8.6+ MB

In [44]:
df3.drop(df3.iloc[[],[0,1,2,3,4,5,6,9,10,11,12,13]],axis=1,inplace=True)

In [45]:
df3

              violation  search_conducted
0              Speeding             False
1              Speeding             False
2              Speeding             False
3                 Other             False
4              Speeding             False
...                 ...               ...
91736          Speeding             False
91737         Equipment             False
91738  Moving violation             False
91739          Speeding             False
91740          Speeding             False

[91741 rows x 2 columns]

In [47]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   violation         86408 non-null  object
 1   search_conducted  91741 non-null  bool
dtypes: bool(1), object(1)
memory usage: 806.4+ KB

In [48]:
df3[df3.search_conducted == True].violation.value_counts()

violation
Speeding               957
Moving violation       895
Equipment              704
Registration/plates    334
Other                  210
Seat belt               96
Name: count, dtype: int64

In [49]:
df4= df.copy()

In [51]:
df4.drop(df4.iloc[[],[0,1,3,4,5,6,9,10,11,12,13]],axis=1,inplace=True)

IndexError: positional indexers are out-of-bounds

In [52]:
df4.head()

  driver_gender violation  search_conducted
0             M  Speeding             False
1             M  Speeding             False
2             M  Speeding             False
3             M     Other             False
4             F  Speeding             False

In [54]:
df4.groupby(['driver_gender','violation']).search_conducted.value_counts()

driver_gender  violation            search_conducted
F              Equipment            False                2381
                                    True                  106
               Moving violation     False                3088
                                    True                  116
               Other                False                 651
                                    True                   39
               Registration/plates  False                 946
                                    True                   67
               Seat belt            False                 627
                                    True                    8
               Speeding             False               15347
                                    True                  135
M              Equipment            False                7935
                                    True                  598
               Moving violation     False               12241
                                    True                  779
               Other                False                3456
                                    True                  171
               Registration/plates  False                2152
                                    True                  267
               Seat belt            False                2229
                                    True                   88
               Speeding             False               32157
                                    True                  822
Name: count, dtype: int64

In [56]:
df4.groupby(['driver_gender','violation']).value_counts()

driver_gender  violation            search_conducted
F              Equipment            False                2381
                                    True                  106
               Moving violation     False                3088
                                    True                  116
               Other                False                 651
                                    True                   39
               Registration/plates  False                 946
                                    True                   67
               Seat belt            False                 627
                                    True                    8
               Speeding             False               15347
                                    True                  135
M              Equipment            False                7935
                                    True                  598
               Moving violation     False               12241
                                    True                  779
               Other                False                3456
                                    True                  171
               Registration/plates  False                2152
                                    True                  267
               Seat belt            False                2229
                                    True                   88
               Speeding             False               32157
                                    True                  822
Name: count, dtype: int64

In [57]:
df4

      driver_gender         violation  search_conducted
0                 M          Speeding             False
1                 M          Speeding             False
2                 M          Speeding             False
3                 M             Other             False
4                 F          Speeding             False
...             ...               ...               ...
91736             M          Speeding             False
91737             F         Equipment             False
91738             M  Moving violation             False
91739             M          Speeding             False
91740             M          Speeding             False

[91741 rows x 3 columns]

In [58]:
#get_group function

result =df4.groupby(['driver_gender','violation'])

In [59]:
result.get_group(('M','Speeding'))

      driver_gender violation  search_conducted
0                 M  Speeding             False
1                 M  Speeding             False
2                 M  Speeding             False
6                 M  Speeding             False
8                 M  Speeding             False
...             ...       ...               ...
91734             M  Speeding             False
91735             M  Speeding             False
91736             M  Speeding             False
91739             M  Speeding             False
91740             M  Speeding             False

[32979 rows x 3 columns]

In [61]:
result.get_group(('F','Speeding')).value_counts()

driver_gender  violation  search_conducted
F              Speeding   False               15347
                          True                  135
Name: count, dtype: int64